# Bot API token obtained from @BotFather
BOT_TOKEN=""

# Bot username set in @BotFather (without '@' symbol)
BOT_USERNAME=""

# Webhook URL
BOT_WEBHOOK=""

# Secret variable used to secure the web hook
BOT_SECRET=""

# Admin user's Telegram ID
#BOT_ADMIN=""

# Database connection DSN string
#DATABASE_URL=""

# Optional: Token for bot analytics provided by Botan.io
#BOTAN_TOKEN=""

# Optional: php-telegram-bot's DB connection
#DB_HOST=""
#DB_USER=""
#DB_PASS=""
#DB_NAME=""

# Optional: Bot data storage path (absolute)
#DATA_PATH=""

# Optional: Storage class to use
#STORAGE=""

# Optional: Debug mode (will output a lot of data to logs/console)
#DEBUG=true
