\!noupload/
.idea/
vendor/
vendor_new/
vendor_old/
.htaccess
composer.lock
composer.phar

/*.php
/*.cgi
/*.txt

!prehook.php

src/Commands/User/announcements.txt
src/Commands/User/contact_banned.txt
src/Commands/Game/TestgameCommand.php
