<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Custom">
  <description>PSR2 without line length warning</description>
  <arg name="colors"/>
  <rule ref="PSR2">
    <exclude name="Generic.Files.LineLength"/>
  </rule>
</ruleset>
