<?php
/**
 * You can override bot configuration here
 * Usage of this file is optional
 *
 * This is also a good place for anything extra you
 *   want to add like 'date_default_timezone_set()'
 *
 * https://github.com/php-telegram-bot/telegram-bot-manager#set-extra-bot-parameters
 */

$config = [
    'commands' => [
        'configs' => [
        ],
    ],

    // Webhook
    'webhook' => [
        'certificate'     => 'certificate.crt',
        'max_connections' => 5,
    ],

    // Logging
    'logging' => [
        'error'  => ROOT_PATH . '/logs/Error.log',
        'debug'  => ROOT_PATH . '/logs/Debug.log',
        'update' => ROOT_PATH . '/logs/Update.log',
    ],

    // Try to prevent hitting API limits
    'limiter' => [
        'enabled' => true,
        'options' => [
            'interval' => 0.5,
        ],
    ],

    // Botan.io integration
    'botan' => [
        'options' => [
            'timeout' => 5,
        ],
    ],

    // Scheduled commands
    'cron' => [
        'groups' => [
            'default' => [
                '/report',
            ],
        ],
    ],
];

/**
 * Set timezone
 */
date_default_timezone_set("UTC");
